<h2>ようこそBookersへ！</h2>
<p class="home-p"><b>Bookers</b>では、さまざまな書籍に関するあなたの意見や</p>
<p class="home-p">印象を共有し交換することができます</p>

<!--<span>%= link_to"start" new_list_path(@lists) </span>-->

<%= link_to "start", books_path, class: 'home-a' %>